html,
body {
  padding: 0;
  margin: 0;
  /*font-family: -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu,
      Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Arial, sans-serif;*/
  font-family: "Bahnschrift", Courier, monospace;
  line-height: 1.6;
  font-size: 18px;
  background-image: linear-gradient(to bottom right, #ffffff, #bdfaaa);
  height: 1018px;
}

* {
  box-sizing: border-box;
}

a {
  color: #ff0000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
  box-shadow: 0px 8px 15px grey;
  border-width: 5px;
  border-style: solid;
  border-color: #ffffff;
}

img1 {
  max-width: 100%;
  display: block;
  box-shadow: 0px 8px 15px grey;
  border-width: 5px;
  border-style: solid;
  border-color: #ffffff;
}
